<h2 class="text-center display-1 py-2 border-bottom border-dark">LOGIN</h2>
<div class="container">
  <div class="row">
    <div class="content mx-auto py-4 border border-dark my-3 p-5">
      <form action="">
        <div class="mb-3">
          <label for="" class="form-label">Email</label>
          <input
            type="email"
            class="form-control"
            name=""
            id=""
            placeholder="username@example.com"
          />
        </div>
        <div class="mb-3">
          <label for="" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            name=""
            id=""
            placeholder=""
          />
        </div>
        <button type="submit" class="btn btn-danger">Submit</button>
      </form>
    </div>
  </div>
</div>
