<footer>
  <div class="footer container mt-2">
    <div class="row">
      <div class="col-sm-4 brand">
        <div class="logo">
          <site-logo></site-logo>
        </div>
        <p>Get access to cheap course as low as $10</p>
      </div>
      <div class="col-sm-4">
        <h5>Quick Links</h5>
        <div class="links" *ngFor="let link of links">
          <li>
            <a [routerLink]="[link[1]]">{{ link[0] }}</a>
          </li>
        </div>
      </div>
      <div class="col-sm-4">
        <h5>Resources</h5>
        <div class="links" *ngFor="let link of resources">
          <li>
            <a [href]="link[1]">{{ link[0] }}</a>
          </li>
        </div>
      </div>
    </div>
    <div class="text-center border-top py-2 mt-2">
      &copy; copyright 2021, Olawale Mayor. All right reserved
    </div>
  </div>
</footer>
