<h2 class="display-2 text-center mb-0">CONTACT US</h2>

<div class="container py-3">
  <div class="row">
    <div class="col-sm-4">
      <div class="row">
        <div class="col-12">
          <div class="card my-3">
            <div class="card-body">
              <h3 class="card-title">Under10Bucks</h3>
              <p class="card-text">Guiding you towards self imporvement</p>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="card my-3">
            <div class="card-body">
              <h3 class="card-title">Email</h3>
              <p class="card-text">
                <a href="mailto://olawalemayor90@gmail.com"
                  >olawalemayor90@gmail.com</a
                >
              </p>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="card my-3">
            <div class="card-body">
              <h3 class="card-title">Phone</h3>
              <p class="card-text">+234 810 557 2155</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <app-contact-form></app-contact-form>
    </div>
  </div>
</div>
