<div>
  <h2 class="display-2 text-center mb-0">ABOUT US</h2>
  <div class="content py-3">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <h4 class="text-center">IN THE INTIAL STAGES</h4>
          <p>
            We started as a community project showcasing the Udemy API as it was
            a front-end project for Angular development.
          </p>
        </div>
        <div class="col-sm-6">
          <h4 class="text-center">WITH TIME...</h4>
          <p>
            The project bgan to have some meaning in it as it was a great source
            of information for people trying to acquire affordable skills after
            the COVID-19 pandemic.
          </p>
        </div>
      </div>
      <div class="row new-sec">
        <div class="col-sm-3 col-md-6">
          <h5 class="text-decoration-underline">The Basic Idea</h5>
          <p>
            There are almost 8 billion people in the world, it makes it almost
            impossible to excel at a lot of things. Platforms like Udemy,
            Pluralsight and Udacity have resources that can level that scale.
            <br /><br />
            Among several problems, one problem that hinders access to these
            plaform resources is the cost. That is where we come in...
          </p>
        </div>
        <div class="col-sm-3 col-md-6">
          <h5 class="text-decoration-underline">What We're Doing</h5>
          <p>
            We are providing you with information from top-level platforms,
            information about courses that can take you to the next level and
            build up your career at affordable prices
          </p>
        </div>
        <div class="col-sm-3 col-md-6">
          <h5 class="text-decoration-underline">Are We Making Profit?</h5>
          <p>
            No, not at this time. We are not profit oriented, our mission is to
            lead people out of the economic shambles of the COVID-19 epidemic
            and build up themselves for a better future.
          </p>
        </div>
        <div class="col-sm-3 col-md-6">
          <h5 class="text-decoration-underline">Do We Need Your Support?</h5>
          <p>
            It is possible at a time in future where we might need some help to
            assist the project.<br /><br />
            We are currently not accepting any donations, Thank you.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
